/* custom styles */
h1{
  text-align: center;
  padding-top: 20px;
  color: white;
}

h2{
  text-align: center;
  color: white;
}

h3{
  text-align: center;
  padding: 20px;
  color: #77C6A9;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

section{
  display: inline-block;
  margin: 160px;
  float: left;
}
ul{
  background-color: #77C6A9;
  border-radius: 20px;
  padding: 30px;
  height: 300px;
  width: 220px;
}
li{
  margin:30px;
  list-style-type: none;

}
body{
  background-color: rgba(61, 61, 61, 0.3);
}

#gif{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20px;

}

.top-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

footer {
  font-size: 0.90em;
  text-align: center;
  clear:both;
  padding-top: 30px;
  color: #ccc;
  background-color: white;

}
.social-icon {

  width: 30px;
  height: 30px;
  margin: 0 8px;
}
